.sign-up {
    width: auto; /* 55px */
    height: auto; /* 22px */
    white-space: pre;
    overflow: visible;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.6px;
    line-height: 1.2;
  }